<div class="hex-board">
  <div class="grid zoom-4">
    {{#each this.grid as |row|}}
      <div class="row">
        {{#each row as |hex|}}
          <HexBoard::HexTile @hex={{hex}} @game={{@game}} @sheet={{this.sheet}}></HexBoard::HexTile>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
